<h1><%= @total %> Total Stores</h1>

<% @stores.each do |store| %>
  <ul class="store">
    <li><%= store.long_name %></li>
    <li><%= store.city %></li>
    <li><%= store.distance %></li>
    <li><%= store.phone_number %></li>
    <li><%= store.type%></li>
  </ul>
<% end %>
